.worker {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.worker button {
    margin-left: 1em;
    height: 3em;
}

.status {
    
}

.statusDiv {
    width: 10em;
    display: flex;
    justify-content: center;
}